APPLICANT_ID=your_applicant_id
GENERAL_PLACES=66
RATING_URL=https://abit.itmo.ru/rating/master/budget/PROGRAM_ID
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
STATE_FILE=.state/rating-state.json
