APPLICANT_ID=your_applicant_id

# One program:
# RATING_URLS=https://abit.itmo.ru/rating/master/budget/PROGRAM_ID
# GENERAL_PLACES=66

# Multiple programs (comma or line-break separated):
RATING_URLS=https://abit.itmo.ru/rating/master/budget/PROGRAM_ID_1,https://abit.itmo.ru/rating/master/budget/PROGRAM_ID_2
GENERAL_PLACES=66,50

TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
STATE_FILE=.state/rating-state.json
